body {
    background:#f5f6fa;
    font-family: Arial, sans-serif;
}

.survey-hero{
    background:linear-gradient(135deg,#d50000,#ff5252);
}

.survey-card{
    border-radius:12px;
}

.survey-image{
    max-width:420px;
    display:block;
    margin:auto;
}

.form-step{
    display:none;
}

.active-step{
    display:block;
}

.survey-options .form-check{
    padding:10px;
    border-radius:6px;
    transition:0.2s;
}

.survey-options .form-check:hover{
    background:#f1f1f1;
}

.progress{
    height:8px;
}

.submit-btn {
  background: #d50000;
  color: white;
  border: 2px solid white;
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.25s ease;
}


